[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
streamlit = "*"
yfinance = "*"
python-dotenv = "*"
fpdf = "*"
langchain = "*"
langchain-openai = "*"
langchainhub = "*"
langchain-community = "*"
langchain-core = "*"
tweepy = "*"
flask = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
openai = "*"
plotly = "*"

[dev-packages]

[requires]
python_version = "3.12"
