[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-openai = "*"
langchainhub = "*"
black = "*"
python-dotenv = "*"
langchain-community = "*"
langchain-core = "*"
tweepy = "*"
flask = "*"
streamlit = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"

[dev-packages]

[requires]
python_version = "3.12"
